#scrabble_board_1 { width:100px; height: 100px; padding: 0.5em; background:#eee;}
#scrabble_board_2 { width:100px; height: 100px; padding: 0.5em; background:#eee;}
#scrabble_board_3 { width:100px; height: 100px; padding: 0.5em; background:#eee;}
#scrabble_board_4 { width:100px; height: 100px; padding: 0.5em; background:#eee;}
#scrabble_board_5 { width:100px; height: 100px; padding: 0.5em; background:#eee;}
#scrabble_board_6 { width:100px; height: 100px; padding: 0.5em; background:#eee;}
#scrabble_board_7 { width:100px; height: 100px; padding: 0.5em; background:#eee;}
#scrabble_board_8 { width:100px; height: 100px; padding: 0.5em; background:#eee;}
#scrabble_board_9 { width:100px; height: 100px; padding: 0.5em; background:#eee;}
#scrabble_board_10 { width:100px; height: 100px; padding: 0.5em; background:#eee;}
#scrabble_board_11 { width:100px; height: 100px; padding: 0.5em; background:#eee;}
#scrabble_board_12 { width:100px; height: 100px; padding: 0.5em; background:#eee;}
  #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
